.layout {
    min-height: 100vh;
    background: #f6f6f6;

    .header-conainer {
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d4d7db));
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        height: 74px;
    }

    .content {
        padding: 16px 16px 0 16px;

        .content_conainer {
            // background: #fff;
            min-height: 100%;
            // padding: 16px;
            border-radius: 8px;
        }

        .silder_right {
            // padding: 16px;
        }
    }

    .footer {
        text-align: center;
        background: #ccc;
    }
}
